/*自定义字体*/
@font-face {
    font-family: KingHwa_OldSong;
    font-weight: 1000;
}

/*自定义鼠标指针*/
#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 8px;
    opacity: 0.25;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
}

#cursor.hidden {
    opacity: 0;
}

#cursor.hover {
    opacity: 0.1;
    transform: scale(2.5);
}

#cursor.active {
    opacity: 0.5;
    transform: scale(0.5);
}

/*自定义加载进度条*/
.pace {
    pointer-events: none;
    user-select: none;
    z-index: 2;
    position: fixed;
    margin: auto;
    top: 4px;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 8px;
    width: 6rem;
    background: #eaecf2;
    overflow: hidden;
}

.pace-inactive .pace-progress {
    opacity: 0;
    transition: 0.3s ease-in;
}

.pace.pace-inactive {
    opacity: 0;
    transition: 0.3s;
    top: -8px;
}

.pace .pace-progress {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #49b1f5;
    background: linear-gradient(
            to right,
            #bbbbbb,
            #2a3a4a,
    );
    animation: gradient 2s ease infinite;
    background-size: 200%;
}

/*animate.css*/
:root {
    --animate-delay: 0.1s;
}

* {
    font-family: KingHwa_OldSong;
    font-weight: 1000;
    box-sizing: border-box
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    color: #333;
    font-size: 18px
}


a {
    background: 0 0;
    color: #000
}

a:active, a:hover {
    color: #39c5bb;
    outline: 0;
    text-decoration: none
}

a:link {
    text-decoration: none
}

p {
    margin: 0 0 10px
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

h2 {
    margin: 0 0 10px
}

img {
    border: 0;
    max-width: 100%;
    height: auto
}

.menu {
    margin: 20px;
}

.menu i {
    padding: 0 10px;
}

.wrapper {
    position: relative
}

.left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    display: block;
    background-position: 50% 0;
    width: 50%;
    background-color: #ffffff
}

.right {
    float: right;
    width: 50%
}

@media (max-width: 768px) {
    .left {
        display: none
    }

    .right {
        width: 100%
    }
}

.right_foot {
    background: #f5f5f5;
    padding: 15px 50px;
    font-size: 15px;
    color: #555;
    display: table;
    width: 100%
}

.right_foot span {
    font-weight: 450
}

.right_foot a {
    color: #555;
    font-weight: 450
}

.right_f_l {
    width: 100%;
    float: left;
    font-weight: 450
}

.right_f_l p {
    margin: 0;
    color: #555;
    font-weight: 450
}

.right_f_l p span a{
    margin-right: 5px
}

@media (max-width: 768px) {
    .right_f_l {
        width: 100%;
        float: none;
        text-align: center
    }
}

.index_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.index_txt {
    text-align: center;
    font-weight: 300
}

.index_txt img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.index_txt h1 {
    font-size: 35px;
    margin: 12px 0
}

.index_txt h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 5px 0 10px 0;
}

.index_txt .location {
    color: #3c3c3c;
    line-height: 1.8;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    display: inline-block;
}

.index_txt .location i {
    margin-right: 6px;
    vertical-align: middle;
    background-image: url(../icons/map.svg);
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: -8px
}

.index_txt .time {
    line-height: 1.8;
    font-size: 18px;
    display: inline-block;
}

.index_txt .time i {
    margin-right: 128px;
    vertical-align: middle;
    background-image: url(../icons/time.svg);
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: -8px;
}

.index_txt .time span {
    position: absolute;
    margin-left: -67px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

@media (max-width: 768px) {

    .index_txt {
        width: 90%
    }
}

@media (max-width: 768px) {

    .right_foot {
        padding: 20px 10px
    }
}

.exif {
    position: absolute;
    color: white;
    bottom: 0px;
    left: 0px;
    margin: 0;
    opacity: 0.5;
}

.exif p {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: 'Courier New';
    font-weight: 400;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.menu-row-1 {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 16px;
}

.menu-row-2 {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 16px;
}